

@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-black;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}


@media only screen and (min-width : 320px) {
    /*div topbar*/
    .topbar.row
    {
        margin-top: 10px;
        font-size: 10px;
        margin-left: 20px;
        margin-right: 0px;
    }

    /*choose language*/
    .cl
    {
        margin-top: 8px;

    }
    /*btm cart*/
    .btm
    {
        width: 40px;
        height: 20px;
        margin-top: 5px
    }
    /*img cart*/
    .img-cart
    {
        width: 13px;
        height: 13px;
    }

    .card.col-xs-8
    {
        margin-top: 10px;
        padding-left: 15px;
    }

    .div-icon
    {
        display: inline-block;
        margin-left: 10px;
    }

    .icon
    {
        width: 10px;
    }

    .logo
    {
        width: 40px;
        margin-left: 20px;
        margin-top: -10px;
    }

    .logo-1
    {
        font-family: lato-regular;
        font-size: 30px;
        color: black;
        margin-left: 5px;
    }

    .logo-2
    {
        font-family: lato-black;
        font-size: 30px;
        color: black;
    }

    .search
    {
        margin-left: 10px;
    }

    .big-title.row
    {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 10px;
    }
    .title
    {
        font-family: lato-regular;
        font-size: 20px;
        margin-top: 20px;
    }

    .btn-tit
    {
        margin-left: 10px;
    }

    .img-btn
    {
        width: 10px;
    }

    .link
    {
        font-size: 13px;
        font-family: lato-regular;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .home
    {
        color: gray;
    }

    .tabs
    {
        font-family: lato-regular;
        font-size: 13px;
        text-align: center;
        margin-top: 10px;
    }

    .tabs-item
    {
        margin-left: 10px;
        color: #2c3e50;
    }

    .works.container
    {
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .works-item
    {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cv
    {
        margin-bottom: 0px;
        font-family: lato-bold;
    }

    .date
    {
        font-family: lato-regular;
        font-size: 10px;
    }

    .intro-item
    {
        margin-top: 20px;
    }

    .intro-tit
    {
        font-family: lato-bold;
    }

    .intro-body
    {
        font-family: lato-regular;
        font-size: 12px;
        margin-left: 32px;
        color: #ced5db;
    }
    
    .promo
    {
        background-image: url("../img/promo-bg.png");
        text-align: center;
    }

    #pro-txt
    {
        padding-top: 20px;
    }

    #pro-txt1
    {
        color: white;
        font-family: lato-light;
        font-size: 24px;
    }

    #pro-txt2
    {
        color: white;
        font-family: lato-regular;
    }

    .pro-btn
    {
        font-family: lato-black;
        height: 50px;
        color: white;
        margin-left: 20px;
        background-color: #2c3e50;
    }

    .pro-btn:hover
    {
        font-family: lato-black;
        height: 50px;
        color: white;
        margin-left: 20px;
        background-color: #0787d4;
    }
    .promo
    {
        padding-bottom: 30px;
    }

    .floot
    {
        background-color: #222533;
    }
    .line
    {
        border-bottom: 4px solid #1abc9c;
        width: 30px;
    }

    .fl-tit
    {
        color: white;
        font-family: lato-black;
        font-size: 16px;
    }
    .fl-txt-1
    {
        color: white;
        font-family: lato-bold;
        font-size: 12px;
    }

    .fl-txt-2
    {
        color: #8896a1;
        font-family: lato-regular;
        font-size: 10px;
    }

    .fl-hr
    {
        border: 0.5px groove white;
    }

    .floot.container
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .fl-body
    {
        margin-top: 30px;
        background-color: #222533;
    }

    .learn
    {
        color: #1abc9c;
    }

    .btm-bar
    {
        background-color: #171d22;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .btm-bar-txt
    {
        font-family: lato-regular;
        font-size: 12px;
        color: gray;

    }
}

@media only screen and (min-width : 480px) {
    .card.col-xs-8
    {
        padding-left: 150px;
    }

    .topbar.row
    {
        font-size: 14px;
    }

    .img-cart
    {
        width: 16px;
        height: 16px;
    }

    .div-icon
    {
        display: inline-block;
        margin-left: 10px;
    }

    .icon
    {
        width: 15px;
    }
}