



@media only screen and (min-width : 320px) {
    /*div topbar*/
    .topbar.row
    {
        margin-top: 10px;
        font-size: 25px;
        margin-left: 20px;
    }

    /*choose language*/
    .cl
    {
        margin-top: 8px;

    }
    /*btm cart*/
    .btm
    {
        width: 200px;
        height: 40px;
        margin-top: 5px
    }
    /*img cart*/
    .img-cart
    {
        width: 30px;
        height: 30px;
    }

    .card.col-xs-8
    {
        padding-left: 120px;
    }

    .div-icon
    {
        display: inline-block;
        margin-left: 30px;
    }

    .icon
    {
        width: 30px;
    }
}